html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*@font-face {
    font-family: 'google_sansbold';
    src: url('googlesans-bold-webfont.woff2') format('woff2'),
         url('googlesans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansbold_italic';
    src: url('googlesans-bolditalic-webfont.woff2') format('woff2'),
         url('googlesans-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansitalic';
    src: url('googlesans-italic-webfont.woff2') format('woff2'),
         url('googlesans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansmedium';
    src: url('googlesans-medium-webfont.woff2') format('woff2'),
         url('googlesans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansmedium_italic';
    src: url('googlesans-mediumitalic-webfont.woff2') format('woff2'),
         url('googlesans-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'google_sansregular';
    src: url('googlesans-regular-webfont.woff2') format('woff2'),
         url('googlesans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/